.artistsSelectionContainer > div {
  border: solid 1px #ededed10;
  border-radius: 5px;
  padding: 1vw;
  height: 60vh;
  width: 40vw;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .artistsSelectionContainer > div {
    width: 90vw;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 2vh;
  }

  .artistsSelectionContainer > div h3 {
    font-size: 1.1rem;
    /* color: red; */
  }
}