@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family:  Roboto, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #ededed;
  background-color: #222;
  ::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }

  h1, span, p, h2, h3, div, a {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #adadad; /* Cor do indicador da barra de rolagem */
    border-radius: 6px; /* Borda arredondada do indicador */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 2px;
  }
  
  /* Estilização da barra de rolagem horizontal */
  ::-webkit-scrollbar-horizontal {
    height: 8px; /* Altura da barra de rolagem horizontal */
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #adadad; /* Cor do indicador da barra de rolagem horizontal */
  }
  
  ::-webkit-scrollbar-track:horizontal {
    background-color: #444; /* Cor da faixa da barra de rolagem horizontal */
  }
  
}

html {
  box-sizing: border-box;
}

h2 {
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; 
  }
}