.header {
  background-color: #333;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  /* justify-content: center; */
  height: 8vh;
}

.header > div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20vw;
  background-color: #1DB954;
  padding: 1vh;
  box-sizing: border-box;
}

.header span {
  margin-right: 2vw;
}

.triangleContainer {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1vh;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 1vw;
}

.triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #ddd;
}

.header h1 {
  flex-grow: 1;
  font-size: 1.4rem;
  text-align: center;
  padding-right: 20vw;
}

@media only screen and (max-width: 767px) {
  .header {
    height: 5vh;
  }

  .header > div {
    width: 45vw;
  }
}
