.container {
  height: 85vh;
}

.playlistContainer {
  border: solid 1px #ededed10;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  width: 53vw;
  height: 95%;
  overflow-y: auto;
}

.container button {
  border: 1px #ededed solid;
  width: 27%;
  height: 4vh;
  margin: 1vh 0 2vh 3%;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #1DB954;
  justify-self: flex-end;
}

.container label {
  width: 100%;
}

.inputContainer {
  width: 100%;  
}

@media only screen and (max-width: 767px) {
  .container label {
    width: 90%;
  }

  .container {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container h3 {
    width: 90%;
  }

  .playlistContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
  }

  .inputContainer {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
  }

  .container button { 
    margin: 0 0 0 2vw;
  }
}