.selectedArtistsContainer {
  height: 90%;
  width: 50%;
}

.artistsList {
  border: solid 1px #ededed10;
  border-radius: 5px;
  height: 95%;
  padding: 20px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .selectedArtistsContainer {
    width: 90%;
    height: 30vh;
    margin-top: 3vh;
  }
}